.conts-wrap{
  position: relative; width:100%; text-align: center; min-height: calc(100vh - #{$nav-height} - #{$footer-height});
  .conts-lnb{
    margin: 1.875rem 0 0 0; width: 28.13rem;
    .btn{
      display:flex;height:80px;color:#888888; border-color: #dbdbdb; background-color: #fff; font-size: 1.25rem; font-weight: 700; font-family: $sub-font-family;
      @include center-middle;
      &.active{color:#00457c; border-color: #004e8c; z-index: 2;}
      &.btn-lx{padding: 1.5rem 1rem;}
    }
    & + .tbl-type1{margin-top:30px;}
  }
  .conts-title{display: inline-flex; margin:40px 0 20px; padding-bottom:10px; font-size: 22px; color:#222; font-weight: bold; border-bottom:3px solid #004e8c;}
  .btn-bottom{
    .btn-xl{width: 192px; height: 74px; border-radius: $border-radius !important; font-weight: bold;}
    // .btn-lg{width:192px;}
    .btn + .btn{margin-left:7px;}
  }
}  


@include media-breakpoint-up(md) {
  .conts-wrap{
    min-height: calc(100vh - #{$nav-height-md} - #{$footer-height-md});
  }
}

.reg-finish{
  display: flex; position: relative; width:100%; height: calc(100vh - #{$nav-height} - #{$footer-height} - #{$lnb-height});
  @include center-middle;
  img{width:115px;}
  .desc{
    margin:10px 0;
    p{
      margin:0 0 10px;font-size: 30px;
      strong{color:$secondary; font-weight: normal;}
    }
    span{color:$light; font-size: 18px; font-family: $sub-font-family;}
  }
  .btn{margin-top:45px; padding:0; width:134px; height: 55px; font-size: 1rem;}
}


.badge{
  width:57px; height: 38px; border-radius: $border-radius; font-size: 14px; color:#222; font-weight: normal; background: #fbd661;
  display: flex; @include center-middle;
}
.badge-reg{color:#222; background: #fbd661;}
.badge-finish{color:#fff; background: #bacbce;}
.badge-noti{color:#fff; background: #2a3858;}